/* -------------------- CSS BY Mellani Leach -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");

/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
  /* Colors and fonts?*/
  --teal: #4ca7c0;
  --purple: #484fb7;
  --lavender: #6b8fe7;
  --yellow: #e9bb57;
  --pink: #d9526f;
  --dark-grey: #1e1e1e;
  --white: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 450px;
  font-family: Inter;
  background-color: var(--purple);
}

footer {
  background-color: var(--lavender);
}

h1 {
  color: var(--white);
  font-size: 3em;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--lavender);
}

header p {
  color: var(--white);
  text-align: center;
  font-style: italic;
  background-color: var(--pink);
  padding: 20px;
  border-radius: 0 0 20px 20px;
  position: relative;
  top: -5px;
  z-index: -1;
  width: 98%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: kavoon;
}

nav h2 {
  font-size: 1.5em;
}

nav {
  background-color: var(--yellow);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
ul {
  list-style: none;
  display: none;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: var(--teal);
}

h2 {
  font-size: 2em;
  padding: 10px;
}
#services > h2 {
  padding: 10px;
}

main h2 {
  color: var(--white);
}

h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

main h3 {
  color: var(--yellow);
  font-weight: bold;
  padding-left: 10px;
}

main p {
  line-height: 25px;
}

h4 {
  font-size: 1.15em;
  color: var(--purple);
  font-weight: bold;
  padding-bottom: 10px;
}

#personal,
#career,
#relationship,
#supportive,
#focused,
#interactive,
#flexible {
  background-color: var(--white);
  display: block;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
img {
  padding: 10px;
}

#choose {
  background-color: var(--pink);
  padding: 10px;
}

#choose > h2 {
  padding-bottom: 20px;
  grid-column: 1/-1;
}

.reasons {
  display: flex;
  gap: 1em;
}

#choose li {
  display: flex;
  align-items: center;
}

#choose li:first-child {
  background-color: var(--teal);
  font-weight: bolder;
  padding: 20px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
}

#choose li:nth-child(2) {
  background-color: var(--lavender);
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

#choose li:nth-child(3) {
  background-color: var(--yellow);
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

#choose li:last-child {
  background-color: var(--white);
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

#pricing h2 {
  padding: 10px;
}

th {
  background-color: var(--yellow);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

table {
  background-color: var(--yellow);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

tbody td {
  text-align: center;
  border: 2px solid var(--yellow);
  background-color: var(--white);
  padding: 20px;
}

#first-step {
  background-color: var(--pink);
  color: var(--white);
  font-weight: bolder;
  padding: 10px;
  display: block;
}

aside p a {
  border: 0;
  line-height: 2.5;
  margin: 10px;
  display: block;
  width: 90%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-grey);
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 3px 3px 3px var(--dark-grey);
}

small {
  font-size: 0.75em;
}

footer {
  color: var(--white);
  text-align: center;
  padding: 40px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 620px) {
  #one-on-one {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
  }

  #one-on-one h3 {
    grid-column: 1 / span 2;
  }
  #relationship {
    grid-column: 1 / span 2;
  }

  #group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #group h3 {
    grid-column: 1 / span 2;
  }
  #choose {
    display: flex;
    flex-direction: column;
  }

  #choose h2 {
    grid-column: 1 / span 2;
  }

  .reasons li {
    flex: 1;
    justify-content: center;
  }

  #pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #pricing h2 {
    grid-column: 1 / span 2;
  }

  #first-step {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #first-step h2 {
    grid-column: 1 / span 2;
  }
}

footer {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 950px) {
  nav ul {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
  }

  a:hover {
    background-color: var(--teal);
  }

  ul {
    color: var(--dark-grey);
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5em;
  }

  nav h2 {
    display: none;
  }

  #services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #services section > section {
    margin: 10px;
  }

  #services h3 {
    text-align: center;
    padding: 5px;
    font-size: 1.25em;
  }

  #services h2 {
    grid-column: 1 / span 4;
  }

  #one-on-one {
    display: flex;
    flex-direction: column;
  }

  #group {
    display: flex;
    flex-direction: column;
  }

  #pricing {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  #pricing h2 {
    grid-column: 1 / span 4;
  }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1280px) {
}
html {
  margin-right: 80px;
  margin-left: 80px;
}
